<!doctype html>
<html>
<head>
  <title>Coin Space</title>
  <meta charset="utf-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta name="description" content="Coin.Space Wallet is a free online bitcoin &amp;amp; litecoin wallet which you can use to make worldwide payments for free. We make paying with bitcoins easy and secure">
  <meta name="keywords" content="Secure, shared wallet, bitcoin, litecoin, web wallet, coin space">
  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self' blob: gap:;
    connect-src 'self' blob:
    https://shapeshift.io
    <%= process.env.API_BTC_URL %>
    <%= process.env.API_BCH_URL %>
    <%= process.env.API_LTC_URL %>
    <%= process.env.API_ETH_URL %>
    <%= process.env.SITE_URL %>
    https://<%= process.env.DB_HOST %>;
    font-src 'self';
    img-src 'self' data: https://www.gravatar.com;
    style-src 'self' 'unsafe-inline';
    script-src 'self' blob: 'unsafe-eval' 'unsafe-inline';">
  <% } %>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./assets/icons/apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./assets/icons/apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= require('./assets/icons/apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./assets/icons/apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= require('./assets/icons/apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./assets/icons/apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= require('./assets/icons/apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./assets/icons/apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/icons/apple-touch-icon-180x180.png') %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Coin.Space">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/icons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./assets/icons/favicon-16x16.png') %>">
  <link rel="shortcut icon" href="<%= require('./assets/icons/favicon.ico') %>">

</head>
<body>
  <div id="geo-overlay" class="z-1000"></div>
  <div id="general-purpose-overlay" class="z-1000"></div>
  <div id="tooltip" class="z-9000"></div>
  <div id="transaction-detail" class="z-9000"></div>
  <div id="flash-modal" class="z-9000"></div>
  <div id="app"></div>
  <div id="auth" class="auth__modal current">
    <div id="loader">
      <% if (process.env.BUILD_TYPE !== 'phonegap') { %>
      <div id="logo_animation">
        <svg version="1.1" x="0px" y="0px" width="100%" height="180px" viewBox="0 0 156 38" style="enable-background:new 0 0 156 38;">
          <path fill="#367D40" d="M63.4,20.9c-1.1-1.2-2.2-1.5-3.2-1.5c-3.1,0-5.2,2.4-5.2,5.5c0,3.3,2.1,5.7,5.2,5.7c1.2,0,2.4-0.6,3.4-1.9
          l2.2,1.6c-1.4,1.9-3.5,2.7-5.7,2.7c-4.7,0-8.1-3.2-8.1-8c0-4.9,3.4-8.1,8.1-8.1c2.1,0,3.8,0.7,5.3,2.4L63.4,20.9z"/>
          <path fill="#367D40" d="M71.5,22c3.1,0,5.6,2.2,5.6,5.4s-2.5,5.4-5.6,5.4c-3.1,0-5.6-2.2-5.6-5.4S68.4,22,71.5,22z M71.5,30.5
          c1.9,0,3-1.5,3-3.1s-1.1-3.1-3-3.1c-1.9,0-3,1.5-3,3.1S69.6,30.5,71.5,30.5z"/>
          <path fill="#367D40" d="M79.8,17.2c0.9,0,1.7,0.7,1.7,1.6c0,0.9-0.7,1.6-1.7,1.6s-1.6-0.7-1.6-1.6C78.2,17.9,78.9,17.2,79.8,17.2z
           M78.5,22.2h2.6v10.4h-2.6V22.2z"/>
          <path fill="#367D40" d="M83,22.2h2.5v1.7h0c0.5-1,1.4-1.9,3.2-1.9c2.8,0,3.8,2,3.8,4.1v6.5h-2.6v-5.2c0-1.1-0.1-3-1.9-3
          c-1.7,0-2.4,1.3-2.4,2.6v5.7H83V22.2z"/>
          <path fill="#575756" d="M95.2,29.9c0.7,1.2,1.9,1.8,3.3,1.8c1.8,0,3.2-1.1,3.2-2.8c0-4-7.3-1.7-7.3-7.1c0-2.5,2.2-3.9,4.6-3.9
          c1.5,0,2.9,0.5,3.9,1.8l-1.1,0.8c-0.7-0.9-1.5-1.4-2.8-1.4c-1.7,0-3.2,0.9-3.2,2.7c0,4.3,7.3,1.7,7.3,7.1c0,2.6-2.1,4-4.4,4
          c-1.9,0-3.5-0.6-4.6-2.2L95.2,29.9z"/>
          <path fill="#575756" d="M104.4,23.3h1.2v1.6h0c0.7-1.3,2.3-1.9,3.7-1.9c2.9,0,4.9,2.1,4.9,4.9s-2,4.9-4.9,4.9c-1.4,0-3-0.6-3.7-1.9h0
          v6.2h-1.2V23.3z M109.4,31.7c2.3,0,3.7-1.7,3.7-3.8s-1.4-3.8-3.7-3.8c-2.2,0-3.9,1.7-3.9,3.8S107.2,31.7,109.4,31.7z"/>
          <path fill="#575756" d="M123.2,28.7c0,1.8,0,2.8,0.2,3.9h-1.1c-0.1-0.5-0.1-1-0.1-1.5h0c-0.7,1.2-1.7,1.8-3.3,1.8
          c-1.6,0-3.3-0.8-3.3-2.8c0-2.8,3.3-3.1,5.2-3.1h1.4v-0.6c0-1.6-1.1-2.3-2.6-2.3c-1.1,0-2,0.3-2.8,1l-0.7-0.8
          c0.9-0.8,2.3-1.3,3.5-1.3c2.3,0,3.7,1,3.7,3.4V28.7z M120.7,27.9c-2,0-4,0.5-4,2.1c0,1.1,1.1,1.7,2.1,1.7c2.6,0,3.2-1.7,3.2-3.2
          v-0.6H120.7z"/>
          <path fill="#575756" d="M133.2,31.2c-0.9,1.1-2.1,1.6-3.4,1.6c-2.9,0-4.9-2.1-4.9-4.9s2-4.9,4.9-4.9c1.3,0,2.6,0.6,3.5,1.6l-1,0.7
          c-0.7-0.8-1.5-1.2-2.5-1.2c-2.3,0-3.7,1.7-3.7,3.8s1.4,3.8,3.7,3.8c1,0,1.9-0.5,2.5-1.3L133.2,31.2z"/>
          <path fill="#575756" d="M142.3,30.8c-0.9,1.4-2.4,2-4,2c-2.8,0-4.7-2-4.7-4.9c0-2.8,1.9-4.9,4.6-4.9c2.9,0,4.4,2.2,4.4,4.3v0.8h-7.8
          c0,1,0.7,3.5,3.5,3.5c1.2,0,2.5-0.6,3.1-1.7L142.3,30.8z M141.3,27.1c0-1.7-1.4-3-3.2-3c-2.6,0-3.4,2.5-3.4,3H141.3z"/>
          <path fill="#367D40" d="M34.1,0.8c-3,0.1-5.4,2.5-5.4,5.6c0.1,3,2.5,5.4,5.6,5.4c3-0.1,5.4-2.5,5.4-5.6C39.6,3.2,37.1,0.8,34.1,0.8z
          M34.2,11.3c-2.8,0.1-5.1-2.1-5.1-4.9c-0.1-2.8,2.2-5.1,4.9-5.1c2.8-0.1,5.1,2.2,5.1,4.9C39.2,9,37,11.3,34.2,11.3z"/>
          <path fill="#367D40" d="M34.6,6.5c-0.2,0-0.3,0-0.3,0l-0.5,0l0,1.3c0.1,0,0.2,0,0.7,0c0.7,0,1-0.3,1-0.8C35.4,6.6,34.8,6.5,34.6,6.5z"/>
          <path fill="#367D40" d="M35.1,5.2c0-0.5-0.6-0.5-0.9-0.5c-0.2,0-0.4,0-0.4,0l0,1.2l0.8,0C34.8,5.9,35.1,5.7,35.1,5.2z"/>
          <path fill="#367D40" d="M34.1,1.7c-2.6,0-4.6,2.2-4.5,4.7c0,2.6,2.2,4.6,4.7,4.5c2.6,0,4.6-2.2,4.5-4.7C38.7,3.7,36.6,1.6,34.1,1.7z
          M35,8.5c0,0-0.1,0-0.1,0l0,1l-0.6,0l0-1c-0.1,0-0.3,0-0.4,0l0,1l-0.6,0l0-1c-0.7,0-1.2,0-1.2,0L32,8c0,0,0.4,0,0.5,0
          c0.1,0,0.2-0.1,0.2-0.3c0-0.2,0-2.6-0.1-2.7c0-0.2-0.1-0.2-0.3-0.2c-0.2,0-0.5,0-0.5,0l0-0.6c0,0,0.6,0,1.2,0l0-1l0.6,0l0,1
          c0.1,0,0.3,0,0.4,0l0-1l0.6,0l0,1c0.6,0,1.4,0.3,1.5,0.9C36.4,5.7,35.8,6,35.8,6s0.8,0.2,0.9,1C36.7,7.9,36.3,8.5,35,8.5z"/>
          <path fill="#575756" d="M30.4,26.7v-2.1c0-2.5,1.7-4.5,4.2-4.5h9.6v-1.2c0-2.5-2-4.5-4.4-4.5h-22c-2.4,0-4.4,2-4.4,4.5v13.5
          c0,2.5,2,4.5,4.4,4.5h22c2.4,0,4.4-2,4.4-4.5v-1.2h-9.6C32.1,31.2,30.4,29.2,30.4,26.7z"/>
          <path fill="#575756" d="M43.4,21.3h-8.1c-1.9,0-3.5,1.6-3.5,3.5v1.6c0,1.9,1.6,3.5,3.5,3.5h8.1c1.9,0,3.5-1.6,3.5-3.5v-1.6
          C46.9,22.8,45.3,21.3,43.4,21.3z M35.4,27.5c-1.1,0-1.9-0.9-1.9-1.9c0-1.1,0.9-1.9,1.9-1.9c1.1,0,1.9,0.9,1.9,1.9
          C37.3,26.7,36.5,27.5,35.4,27.5z"/>
          <path fill="#367D40" d="M24.5,9.8c-2.2,0-4,1.3-4.9,3.2h0.5c0.8-1.6,2.5-2.7,4.4-2.7c2,0,3.7,1.1,4.6,2.7h0.5
          C28.7,11.1,26.8,9.8,24.5,9.8z"/>
          <path fill="#367D40" d="M23.6,12h0.6v1h0.4v-1h0.6v1h3.4c-0.8-1.4-2.4-2.4-4.1-2.4c-1.7,0-3.2,1-3.9,2.4h3V12z"/>
        </svg>
      </div>
      <% } %>
      <div id="loader-message"></div>
      <div class="preload jigsaw-light">a</div>
      <div class="preload jigsaw-regular">a</div>
      <div class="preload jigsaw-medium">a</div>
      <div class="preload jigsaw-bold">a</div>
    </div>
  </div>

  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <script src="cordova.js"></script>
  <% } %>
</body>
</html>

