<!doctype html>
<html class="build_type--<%= process.env.BUILD_TYPE %>">
<head>
  <title>Coin Wallet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta name="description" content="Coin Wallet is a free online bitcoin, bitcoincash, bitcoinsv, litecoin, ethereum, ripple, stellar, eos, dogecoin, dash, monero, binance smart chain, cardano wallet which you can use to make worldwide payments for free. We make paying with bitcoins easy and secure">
  <meta name="keywords" content="Secure, shared wallet, bitcoin, bitcoincash, bitcoinsv, litecoin, ethereum, ripple, stellar, eos, dogecoin, dash, monero, binance smart chain, cardano, web wallet, coin">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="apple-itunes-app" content="app-id=980719434"/>
  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self' blob: gap:;
    connect-src 'self' blob:
    https://api.moonpay.com
    https://api.bscscan.com
    https://*.sentry.io
    <%= process.env.API_BTC_URL %>
    <%= process.env.API_BCH_URL %>
    <%= process.env.API_BSV_URL %>
    <%= process.env.API_LTC_URL %>
    <%= process.env.API_ETH_URL %>
    <%= process.env.API_XRP_URL %>
    <%= process.env.API_XLM_URL %>
    <%= process.env.API_EOS_URL %>
    <%= process.env.API_DOGE_URL %>
    <%= process.env.API_DASH_URL %>
    <%= process.env.API_XMR_URL %>
    <%= process.env.API_BSC_URL %>
    <%= process.env.SITE_URL %>;
    font-src 'self';
    img-src 'self' data: https://www.gravatar.com <%= process.env.SITE_URL %>;
    style-src 'self' 'unsafe-inline';
    script-src 'self' blob: 'unsafe-eval' 'unsafe-inline';">
  <% } %>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000">
  <meta name="msapplication-TileColor" content="#2C3832">
  <meta name="theme-color" content="#2C3832">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Coin Wallet">
</head>
<body>
  <div id="general-purpose-overlay" class="z-1000"></div>
  <div id="tooltip" class="z-9000"></div>
  <div id="flash-modal" class="z-9000"></div>
  <div id="app"></div>
  <div id="auth" class="current">
    <div id="loader">
      <% if (process.env.BUILD_TYPE !== 'phonegap') { %>
      <div id="logo_animation">
        <svg width="100%" height="175" viewBox="0 0 605 175" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M105.204 174.681H40.1765C25.6739 174.681 18.4226 174.681 12.9438 171.724C8.71158 169.441 5.23981 165.969 2.95622 161.737C0 156.258 0 149.007 0 134.504V89.8658C0 78.038 5.07259 66.7782 13.9316 58.9414C14.2317 64.9447 19.1866 69.658 25.1974 69.658H94.8525C109.355 69.658 116.606 69.658 122.085 72.6142C126.317 74.8978 129.789 78.3696 132.073 82.6018C134.241 86.6196 134.819 91.5906 134.973 99.6753C134.043 99.6644 132.999 99.6644 131.814 99.6644H106.094C93.6651 99.6644 83.5894 109.74 83.5894 122.169C83.5894 134.598 93.6651 144.674 106.094 144.674H131.814C133.023 144.674 134.085 144.674 135.029 144.663V144.856C135.029 149.665 135.029 152.07 134.694 154.079C132.965 164.472 124.821 172.616 114.428 174.346C112.418 174.681 110.014 174.681 105.204 174.681Z" fill="#68C481"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M107.166 106.094C98.288 106.094 91.091 113.291 91.091 122.169C91.091 131.047 98.288 138.244 107.166 138.244H131.278C133.768 138.244 135.013 138.244 136.048 138.038C140.299 137.193 143.622 133.869 144.468 129.618C144.674 128.583 144.674 127.338 144.674 124.848V119.49C144.674 117 144.674 115.755 144.468 114.72C143.622 110.469 140.299 107.146 136.048 106.3C135.013 106.094 133.768 106.094 131.278 106.094H107.166ZM107.166 127.528C110.125 127.528 112.524 125.129 112.524 122.169C112.524 119.21 110.125 116.811 107.166 116.811C104.207 116.811 101.808 119.21 101.808 122.169C101.808 125.129 104.207 127.528 107.166 127.528Z" fill="#68C481"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.8125 49.2965C25.0121 49.302 18.3854 49.4224 13.286 52.0713C8.78417 54.4098 5.11356 58.0804 2.77505 62.5822C0 67.9244 0 74.9429 0 88.9798V114.635C0 128.672 0 135.691 2.77505 141.033C4.67982 144.7 7.46837 147.815 10.87 150.108C10.7166 147.699 10.7166 144.721 10.7166 140.88V84.168C10.7166 75.6238 10.7166 71.3517 12.4057 68.1C13.8292 65.3597 16.0635 63.1254 18.8037 61.702C22.0555 60.0128 26.3276 60.0128 34.8718 60.0128H37.8125V49.2965ZM93.7093 60.0128H110.874C117.717 60.0128 121.819 60.0128 124.852 60.8805C122.523 57.1544 119.233 54.1078 115.313 52.0713C110.617 49.6318 104.625 49.3368 93.7093 49.3012V60.0128Z" fill="#68C481"/>
          <mask id="mask0_112_2846" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="24" y="0" width="84" height="65">
          <rect x="24.6482" width="82.5177" height="64.2995" fill="#C4C4C4"/>
          </mask>
          <g mask="url(#mask0_112_2846)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M65.6392 88.4118C87.2125 88.4118 104.701 70.9231 104.701 49.3498C104.701 27.7765 87.2125 10.2878 65.6392 10.2878C44.0658 10.2878 26.5772 27.7765 26.5772 49.3498C26.5772 70.9231 44.0658 88.4118 65.6392 88.4118ZM70.247 21.176H60.5708V29.1587H51.0398V73.1852H60.5709V82.8612H70.247V73.171C77.7749 72.8714 83.7451 67.8525 83.7451 60.2917C83.7451 55.8262 81.6067 52.4298 78.3362 50.3543C80.7262 48.2788 82.1728 45.3856 82.1728 41.7377C82.1728 34.792 76.9862 30.0467 70.247 29.2708V21.176ZM72.1096 42.4924C72.1096 40.2282 70.6001 38.593 68.273 38.593H61.103V46.3919H68.273C70.5372 46.3919 72.1096 44.7567 72.1096 42.4924ZM61.103 63.7509H69.5309C72.0467 63.7509 73.682 61.9899 73.682 59.537C73.682 57.0841 72.0467 55.323 69.5309 55.323H61.103V63.7509Z" fill="#FFC700"/>
          </g>
          <path d="M245.732 137.723C242.879 141.192 239.514 143.849 235.637 145.692C231.761 147.481 227.427 148.376 222.635 148.376C218.328 148.376 214.317 147.59 210.602 146.018C206.941 144.445 203.765 142.304 201.073 139.593C198.381 136.882 196.254 133.684 194.693 129.997C193.131 126.256 192.351 122.244 192.351 117.962C192.351 113.679 193.131 109.694 194.693 106.007C196.254 102.266 198.381 99.0406 201.073 96.3299C203.765 93.6192 206.941 91.4777 210.602 89.9055C214.317 88.3332 218.328 87.5471 222.635 87.5471C227.265 87.5471 231.33 88.3603 234.83 89.9868C238.383 91.6132 241.533 93.9716 244.279 97.0618L236.607 104.543C234.884 102.537 232.892 100.938 230.63 99.7454C228.423 98.5527 225.785 97.9563 222.716 97.9563C220.024 97.9563 217.494 98.4443 215.125 99.4201C212.756 100.342 210.683 101.67 208.906 103.405C207.183 105.14 205.81 107.254 204.787 109.748C203.764 112.188 203.253 114.926 203.253 117.962C203.253 120.998 203.764 123.762 204.787 126.256C205.81 128.696 207.183 130.783 208.906 132.518C210.683 134.253 212.756 135.608 215.125 136.584C217.494 137.506 220.024 137.967 222.716 137.967C225.946 137.967 228.8 137.316 231.276 136.015C233.807 134.66 236.041 132.762 237.98 130.322L245.732 137.723Z" fill="#222222"/>
          <path d="M270.351 105.926C273.42 105.926 276.22 106.468 278.75 107.552C281.335 108.582 283.542 110.046 285.373 111.944C287.257 113.787 288.711 116.01 289.734 118.612C290.81 121.214 291.349 124.061 291.349 127.151C291.349 130.241 290.81 133.087 289.734 135.69C288.711 138.292 287.257 140.542 285.373 142.439C283.542 144.283 281.335 145.747 278.75 146.831C276.22 147.861 273.42 148.376 270.351 148.376C267.282 148.376 264.456 147.861 261.872 146.831C259.341 145.747 257.134 144.283 255.249 142.439C253.419 140.542 251.965 138.292 250.888 135.69C249.865 133.087 249.354 130.241 249.354 127.151C249.354 124.061 249.865 121.214 250.888 118.612C251.965 116.01 253.419 113.787 255.249 111.944C257.134 110.046 259.341 108.582 261.872 107.552C264.456 106.468 267.282 105.926 270.351 105.926ZM270.351 138.536C271.697 138.536 272.989 138.292 274.228 137.804C275.52 137.262 276.651 136.503 277.62 135.527C278.589 134.551 279.343 133.358 279.881 131.949C280.473 130.539 280.769 128.94 280.769 127.151C280.769 125.362 280.473 123.762 279.881 122.353C279.343 120.943 278.589 119.751 277.62 118.775C276.651 117.799 275.52 117.067 274.228 116.579C272.989 116.037 271.697 115.766 270.351 115.766C268.952 115.766 267.632 116.037 266.394 116.579C265.156 117.067 264.052 117.799 263.083 118.775C262.114 119.751 261.333 120.943 260.741 122.353C260.203 123.762 259.933 125.362 259.933 127.151C259.933 128.94 260.203 130.539 260.741 131.949C261.333 133.358 262.114 134.551 263.083 135.527C264.052 136.503 265.156 137.262 266.394 137.804C267.632 138.292 268.952 138.536 270.351 138.536Z" fill="#222222"/>
          <path d="M303.253 101.453C302.338 101.453 301.45 101.291 300.588 100.965C299.781 100.586 299.054 100.098 298.408 99.5014C297.815 98.8509 297.331 98.119 296.954 97.3057C296.631 96.4925 296.469 95.598 296.469 94.6221C296.469 93.6463 296.631 92.7517 296.954 91.9385C297.331 91.1253 297.815 90.4205 298.408 89.8241C299.054 89.1736 299.781 88.6856 300.588 88.3603C301.45 87.9808 302.338 87.7911 303.253 87.7911C305.138 87.7911 306.753 88.4688 308.099 89.8241C309.445 91.1253 310.118 92.7246 310.118 94.6221C310.118 96.5196 309.445 98.1461 308.099 99.5014C306.753 100.803 305.138 101.453 303.253 101.453ZM298.004 147.075V107.227H308.583V147.075H298.004Z" fill="#222222"/>
          <path d="M328.191 112.432H328.837C330.075 110.426 331.744 108.853 333.844 107.715C335.944 106.522 338.339 105.926 341.031 105.926C343.508 105.926 345.689 106.332 347.573 107.146C349.457 107.959 350.992 109.125 352.176 110.643C353.415 112.106 354.33 113.895 354.922 116.01C355.568 118.07 355.891 120.374 355.891 122.922V147.075H345.312V124.223C345.312 121.35 344.666 119.236 343.373 117.88C342.135 116.471 340.305 115.766 337.882 115.766C336.428 115.766 335.136 116.091 334.005 116.742C332.929 117.338 331.986 118.178 331.179 119.263C330.425 120.293 329.833 121.54 329.402 123.003C329.025 124.413 328.837 125.931 328.837 127.558V147.075H318.257V107.227H328.191V112.432Z" fill="#222222"/>
          <path d="M375.912 88.8483H387.46L396.425 122.841L397.717 129.103H398.363L400.059 122.841L408.377 96.6552H418.553L426.952 122.841L428.567 129.021H429.213L430.424 122.841L438.823 88.8483H450.372L435.028 147.075H424.529L415.484 119.019L413.788 112.594H413.142L411.446 119.019L402.401 147.075H391.902L375.912 88.8483Z" fill="#222222"/>
          <path d="M477.351 142.846H476.704C475.466 144.364 473.959 145.665 472.182 146.749C470.459 147.834 468.225 148.376 465.479 148.376C463.433 148.376 461.495 148.024 459.664 147.319C457.888 146.668 456.326 145.747 454.98 144.554C453.634 143.361 452.584 141.924 451.831 140.244C451.077 138.563 450.7 136.72 450.7 134.714C450.7 132.654 451.104 130.81 451.911 129.184C452.719 127.503 453.85 126.067 455.303 124.874C456.757 123.681 458.453 122.787 460.391 122.19C462.383 121.54 464.537 121.214 466.852 121.214C469.436 121.214 471.563 121.431 473.232 121.865C474.901 122.244 476.274 122.651 477.351 123.085V121.865C477.351 119.751 476.516 118.016 474.847 116.66C473.178 115.251 471.105 114.546 468.629 114.546C464.967 114.546 461.872 116.091 459.341 119.181L451.669 113.895C455.869 108.582 461.602 105.926 468.871 105.926C475.009 105.926 479.693 107.39 482.923 110.317C486.153 113.191 487.768 117.474 487.768 123.166V147.075H477.351V142.846ZM477.351 130.892C476.112 130.295 474.82 129.835 473.474 129.509C472.182 129.13 470.755 128.94 469.194 128.94C466.663 128.94 464.698 129.509 463.298 130.648C461.952 131.732 461.279 133.087 461.279 134.714C461.279 136.34 461.926 137.641 463.218 138.617C464.564 139.593 466.098 140.081 467.821 140.081C469.221 140.081 470.513 139.837 471.697 139.349C472.882 138.807 473.878 138.129 474.685 137.316C475.547 136.449 476.193 135.473 476.624 134.389C477.108 133.25 477.351 132.084 477.351 130.892Z" fill="#222222"/>
          <path d="M496.18 147.075V88.8483H506.76V147.075H496.18Z" fill="#222222"/>
          <path d="M515.818 147.075V88.8483H526.397V147.075H515.818Z" fill="#222222"/>
          <path d="M572.534 137.479C570.703 140.732 568.226 143.361 565.104 145.367C562.035 147.373 558.266 148.376 553.797 148.376C550.782 148.376 547.983 147.861 545.398 146.831C542.868 145.747 540.661 144.256 538.776 142.358C536.892 140.461 535.411 138.238 534.334 135.69C533.311 133.087 532.8 130.241 532.8 127.151C532.8 124.278 533.311 121.567 534.334 119.019C535.357 116.416 536.784 114.166 538.615 112.269C540.445 110.317 542.599 108.772 545.075 107.634C547.606 106.495 550.379 105.926 553.394 105.926C556.57 105.926 559.397 106.468 561.873 107.552C564.35 108.582 566.423 110.046 568.092 111.944C569.761 113.787 571.026 115.983 571.887 118.531C572.749 121.079 573.18 123.844 573.18 126.826C573.18 127.205 573.18 127.53 573.18 127.801C573.126 128.127 573.099 128.425 573.099 128.696C573.045 128.967 573.018 129.265 573.018 129.591H543.218C543.433 131.217 543.864 132.627 544.51 133.819C545.21 134.958 546.045 135.934 547.014 136.747C548.037 137.506 549.14 138.075 550.325 138.455C551.509 138.78 552.721 138.943 553.959 138.943C556.382 138.943 558.374 138.4 559.935 137.316C561.55 136.178 562.816 134.768 563.731 133.087L572.534 137.479ZM562.923 122.028C562.869 121.323 562.627 120.537 562.196 119.669C561.819 118.802 561.227 117.989 560.42 117.23C559.666 116.471 558.697 115.847 557.512 115.359C556.382 114.871 555.009 114.627 553.394 114.627C551.132 114.627 549.14 115.278 547.417 116.579C545.695 117.88 544.483 119.696 543.783 122.028H562.923Z" fill="#222222"/>
          <path d="M583.114 116.335H576.169V107.227H583.114V95.0287H593.694V107.227H603.385V116.335H593.694V131.786C593.694 132.708 593.774 133.575 593.936 134.389C594.151 135.148 594.528 135.798 595.067 136.34C595.82 137.208 596.897 137.641 598.297 137.641C599.212 137.641 599.939 137.56 600.477 137.397C601.016 137.181 601.527 136.91 602.012 136.584L605 145.936C603.762 146.533 602.416 146.966 600.962 147.237C599.562 147.563 598.001 147.725 596.278 147.725C594.286 147.725 592.482 147.427 590.867 146.831C589.306 146.18 587.987 145.313 586.91 144.229C584.379 141.789 583.114 138.319 583.114 133.819V116.335Z" fill="#222222"/>
          </svg>
      </div>
      <% } %>
      <div id="loader-message"></div>
    </div>
  </div>

  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <script src="cordova.js"></script>
  <% } %>
</body>
</html>

