<!doctype html>
<html class="build_type--<%= process.env.BUILD_TYPE %>">
<head>
  <title>Coin Wallet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <meta name="description" content="Coin Wallet is a free online bitcoin, bitcoincash, bitcoinsv, litecoin, ethereum, ripple, stellar, eos, dogecoin, dash wallet which you can use to make worldwide payments for free. We make paying with bitcoins easy and secure">
  <meta name="keywords" content="Secure, shared wallet, bitcoin, bitcoincash, bitcoinsv, litecoin, ethereum, ripple, stellar, eos, dogecoin, dash, web wallet, coin">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="apple-itunes-app" content="app-id=980719434"/>
  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self' blob: gap:
    https://*.verygoodvault.com;
    connect-src 'self' blob:
    https://shapeshift.io
    https://api.moonpay.io
    https://*.amazonaws.com
    https://sentry.io
    <%= process.env.API_BTC_URL %>
    <%= process.env.API_BCH_URL %>
    <%= process.env.API_BSV_URL %>
    <%= process.env.API_LTC_URL %>
    <%= process.env.API_ETH_URL %>
    <%= process.env.API_XRP_URL %>
    <%= process.env.API_XLM_URL %>
    <%= process.env.API_EOS_URL %>
    <%= process.env.API_DOGE_URL %>
    <%= process.env.API_DASH_URL %>
    <%= process.env.SITE_URL %>;
    font-src 'self';
    img-src 'self' data: https://www.gravatar.com;
    style-src 'self' 'unsafe-inline';
    script-src 'self' blob: 'unsafe-eval' 'unsafe-inline'
    https://*.sift.com;">
  <% } %>
  <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./assets/icons/apple-touch-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./assets/icons/apple-touch-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= require('./assets/icons/apple-touch-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./assets/icons/apple-touch-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= require('./assets/icons/apple-touch-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./assets/icons/apple-touch-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= require('./assets/icons/apple-touch-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./assets/icons/apple-touch-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/icons/apple-touch-icon-180x180.png') %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Coin">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/icons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./assets/icons/favicon-16x16.png') %>">
  <link rel="shortcut icon" href="<%= require('./assets/icons/favicon.ico') %>">
</head>
<body>
  <div id="general-purpose-overlay" class="z-1000"></div>
  <div id="tooltip" class="z-9000"></div>
  <div id="flash-modal" class="z-9000"></div>
  <div id="app"></div>
  <div id="auth" class="current">
    <div id="loader">
      <% if (process.env.BUILD_TYPE !== 'phonegap') { %>
      <div id="logo_animation">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="180px" viewBox="0 0 608 180">
        <g fill="none">
          <path d="M606.9 156.4C604.6 156.9 602.6 157.1 601 157.1 597.5 157.1 595 156.5 593.4 155.3 591.8 154.1 590.9 152.6 590.5 150.7 590.2 148.8 590 146.2 590 142.9L590 116 584.2 116 584.2 109.9 590 109.9 590 98.3 597.9 93.5 597.9 109.9 605.8 109.9 605.8 116 597.9 116 597.9 143.3C597.9 145.6 598.1 147.3 598.6 148.3 599.1 149.3 600.3 149.8 602.3 149.8 603.4 149.8 604.6 149.6 605.8 149.4L606.9 156.4ZM467.6 109.9L452.9 156.5 444.7 156.5 437.3 128.5C437.3 128.5 437 127.3 436.4 124.7 435.8 122.2 435.5 120.9 435.5 120.6L435.3 120.6 426.1 156.5 417.8 156.5 403.5 109.9 411.7 109.9 421.9 146.8 423.4 140.5 431.7 109.9 439.9 109.9 446.2 134.3C447.9 141.1 448.9 144.9 449.1 145.8L449.2 145.8 459.8 109.9 467.6 109.9ZM509.4 156.5L501.1 156.5C500.3 155.1 499.8 153.1 499.5 150.8 494.2 155.3 488.4 157.6 482.3 157.6 477.4 157.6 473.5 156.4 470.6 153.9 467.8 151.5 466.4 148.2 466.4 144.2 466.4 140.3 467.7 137.1 470.5 134.6 473.2 132.1 478 130.4 484.7 129.6L492.1 128.5C494.9 128.1 497.2 127.5 498.9 126.9 498.9 124.5 498.9 122.9 498.7 121.9 498.6 120.9 498.1 119.9 497.4 118.8 496.7 117.8 495.6 116.9 494 116.3 492.4 115.6 490.3 115.3 487.6 115.3 484.2 115.3 481.5 115.9 479.5 117.2 477.6 118.5 476.2 120.8 475.5 124.2L467.7 123.2C468.6 118.4 470.8 114.8 474.3 112.4 477.8 110 482.6 108.8 488.8 108.8 494.4 108.8 498.5 109.7 501.1 111.3 503.7 113 505.4 115 506 117.3 506.6 119.7 506.9 122.7 506.9 126.4L506.9 137C506.9 143.5 507 147.8 507.2 150 507.5 152.3 508.2 154.4 509.4 156.5ZM498.9 136L498.9 133.1C494.8 134.5 489.8 135.6 483.8 136.4 477.8 137.2 474.8 139.7 474.8 144 474.8 146.1 475.6 147.9 477.2 149.3 478.8 150.7 481.2 151.4 484.2 151.4 488.1 151.4 491.5 150.2 494.5 147.9 497.5 145.6 498.9 141.6 498.9 136ZM521.8 156.5L513.9 156.5 513.9 92.1 521.8 92.1 521.8 156.5ZM536.8 156.5L528.8 156.5 528.8 92.1 536.8 92.1 536.8 156.5ZM584.3 135.2L549.3 135.2C549.7 140.4 551.1 144.3 553.8 147 556.4 149.8 559.6 151.1 563.6 151.1 566.6 151.1 569.1 150.3 571.2 148.7 573.2 147.1 574.8 144.7 575.9 141.5L584 142.5C582.7 147.4 580.3 151.1 576.8 153.7 573.2 156.3 568.8 157.6 563.6 157.6 556.6 157.6 551.1 155.5 547.2 151.2 543.2 146.9 541.3 141 541.3 133.6 541.3 126.2 543.2 120.3 547 115.7 550.8 111.1 556.2 108.8 563.1 108.8 566.5 108.8 569.8 109.6 573 111.1 576.1 112.6 578.8 115.1 581 118.7 583.2 122.3 584.3 127.8 584.3 135.2ZM576.1 128.7C575.8 124 574.3 120.5 571.7 118.4 569.1 116.3 566.2 115.3 563.1 115.3 559.4 115.3 556.4 116.5 554 119 551.5 121.5 550.2 124.7 549.8 128.7L576.1 128.7Z" fill="#636466"/>
          <path d="M248.3 101C243 95.2 237.7 93.7 232.9 93.7 217.9 93.7 207.7 105.3 207.7 120.3 207.7 136.2 217.9 147.8 232.9 147.8 238.6 147.8 244.4 144.9 249.3 138.6L259.9 146.4C253.1 155.6 243 159.4 232.4 159.4 209.7 159.4 193.2 144 193.2 120.8 193.2 97.1 209.7 81.6 232.4 81.6 242.5 81.6 250.7 85 258 93.2L248.3 101Z" fill="#367D40"/>
          <path d="M287.4 106.3C302.4 106.3 314.5 116.9 314.5 132.4 314.5 147.8 302.4 158.5 287.4 158.5 272.5 158.5 260.4 147.8 260.4 132.4 260.4 116.9 272.5 106.3 287.4 106.3ZM287.4 147.3C296.6 147.3 301.9 140.1 301.9 132.4 301.9 124.6 296.6 117.4 287.4 117.4 278.3 117.4 272.9 124.6 272.9 132.4 272.9 140.1 278.3 147.3 287.4 147.3Z" fill="#367D40"/>
          <path d="M327.5 83.1C331.9 83.1 335.7 86.5 335.7 90.8 335.7 95.2 332.4 98.6 327.5 98.6 322.7 98.6 319.8 95.2 319.8 90.8 319.8 86.5 323.2 83.1 327.5 83.1ZM321.3 107.2L333.8 107.2 333.8 157.5 321.3 157.5 321.3 107.2Z" fill="#367D40"/>
          <path d="M343 107.2L355.1 107.2 355.1 115.5C357.5 110.6 361.8 106.3 370.5 106.3 384.1 106.3 388.9 115.9 388.9 126.1L388.9 157.5 376.3 157.5 376.3 132.4C376.3 127.1 375.8 117.9 367.1 117.9 358.9 117.9 355.6 124.2 355.6 130.4L355.6 157.5 343 157.5 343 107.2Z" fill="#367D40"/>
          <path d="M101.9 3.9C87.4 4.3 75.8 15.9 75.8 30.9 76.3 45.4 87.9 57 102.9 57 117.4 56.5 129 44.9 129 30 128.5 15.5 116.4 3.9 101.9 3.9ZM102.4 54.6C88.9 55.1 77.8 44.4 77.8 30.9 77.3 17.4 88.4 6.3 101.4 6.3 115 5.8 126.1 16.9 126.1 30 126.6 43.5 115.9 54.6 102.4 54.6Z" fill="#367D40"/>
          <path d="M104.3 31.4C103.4 31.4 102.9 31.4 102.9 31.4L100.5 31.4 100.5 37.7C101 37.7 101.4 37.7 103.9 37.7 107.2 37.7 108.7 36.2 108.7 33.8 108.2 31.9 105.3 31.4 104.3 31.4Z" fill="#367D40"/>
          <path d="M106.8 25.1C106.8 22.7 103.9 22.7 102.4 22.7 101.4 22.7 100.5 22.7 100.5 22.7L100.5 28.5 104.3 28.5C105.3 28.5 106.8 27.5 106.8 25.1Z" fill="#367D40"/>
          <path d="M101.9 8.2C89.4 8.2 79.7 18.8 80.2 30.9 80.2 43.5 90.8 53.1 102.9 52.7 115.5 52.7 125.1 42 124.6 30 124.2 17.9 114 7.7 101.9 8.2ZM106.3 41.1C106.3 41.1 105.8 41.1 105.8 41.1L105.8 45.9 102.9 45.9 102.9 41.1C102.4 41.1 101.4 41.1 101 41.1L101 45.9 98.1 45.9 98.1 41.1C94.7 41.1 92.3 41.1 92.3 41.1L91.8 38.6C91.8 38.6 93.7 38.6 94.2 38.6 94.7 38.6 95.2 38.2 95.2 37.2 95.2 36.2 95.2 24.6 94.7 24.2 94.7 23.2 94.2 23.2 93.2 23.2 92.3 23.2 90.8 23.2 90.8 23.2L90.8 20.3C90.8 20.3 93.7 20.3 96.6 20.3L96.6 15.5 99.5 15.5 99.5 20.3C100 20.3 101 20.3 101.4 20.3L101.4 15.5 104.3 15.5 104.3 20.3C107.2 20.3 111.1 21.7 111.6 24.6 113 27.5 110.1 29 110.1 29 110.1 29 114 30 114.5 33.8 114.5 38.2 112.6 41.1 106.3 41.1Z" fill="#367D40"/>
          <path d="M84.1 129L84.1 118.8C84.1 106.8 92.3 97.1 104.3 97.1L150.7 97.1 150.7 91.3C150.7 79.2 141.1 69.6 129.5 69.6L23.2 69.6C11.6 69.6 1.9 79.2 1.9 91.3L1.9 156.5C1.9 168.6 11.6 178.3 23.2 178.3L129.5 178.3C141.1 178.3 150.7 168.6 150.7 156.5L150.7 150.7 104.3 150.7C92.3 150.7 84.1 141.1 84.1 129Z" fill="#575756"/>
          <path d="M146.9 102.9L107.7 102.9C98.6 102.9 90.8 110.6 90.8 119.8L90.8 127.5C90.8 136.7 98.6 144.4 107.7 144.4L146.9 144.4C156 144.4 163.8 136.7 163.8 127.5L163.8 119.8C163.8 110.1 156 102.9 146.9 102.9ZM108.2 132.9C102.9 132.9 99 128.5 99 123.7 99 118.4 103.4 114.5 108.2 114.5 113.5 114.5 117.4 118.8 117.4 123.7 117.4 129 113.5 132.9 108.2 132.9Z" fill="#575756"/>
          <path d="M55.6 47.3C44.9 47.3 36.2 53.6 31.9 62.8L34.3 62.8C38.2 55.1 46.4 49.8 55.6 49.8 65.2 49.8 73.4 55.1 77.8 62.8L80.2 62.8C75.8 53.6 66.7 47.3 55.6 47.3Z" fill="#367D40"/>
          <path d="M51.2 58L54.1 58 54.1 62.8 56 62.8 56 58 58.9 58 58.9 62.8 75.4 62.8C71.5 56 63.8 51.2 55.6 51.2 47.3 51.2 40.1 56 36.7 62.8L51.2 62.8 51.2 58Z" fill="#367D40"/>
        </g>
      </svg>
      </div>
      <% } %>
      <div id="loader-message"></div>
      <div class="preload jigsaw-light">a</div>
      <div class="preload jigsaw-regular">a</div>
      <div class="preload jigsaw-medium">a</div>
      <div class="preload jigsaw-bold">a</div>
    </div>
  </div>

  <% if (process.env.BUILD_TYPE === 'phonegap') { %>
  <script src="cordova.js"></script>
  <% } %>
</body>
</html>

